## Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered
false or true).

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [ ]:
False

False

In [ ]:
print(True,False)

True False

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
my_str='Hello World!!'

In [ ]:
my_str

'Hello World!!'

In [ ]:
my_str.istitle()

True

In [ ]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words i.e. first letter in upper case
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('o')) #test if string endswith a o
print(my_str.startswith('H')) #test if string startswith H

False
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
True or True

True

In [ ]:
str_example='Hello World'
my_str='byee'

In [ ]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [ ]:
type([])

list

In [ ]:
lst_example=[]

In [ ]:
type(lst_example)

list

In [ ]:
lst=list() ## using inbuild function

In [ ]:
type(lst)

list

In [ ]:
lst=['sam', 'ram', 103, 203, 305, 204]

In [ ]:
len(lst)

6

In [ ]:
type(lst)

list

### Append

In [ ]:
#.append is used to add elements in the list
lst.append("raju")

In [ ]:
lst

['sam', 'ram', 103, 203, 305, 204, 'raju']

In [ ]:
lst.append(["shaam","babu bhaiya"]) ##nested list will be created

In [ ]:
lst

['sam', 'ram', 103, 203, 305, 204, 'raju', ['shaam', 'babu bhaiya']]

In [ ]:
##Indexing in List
lst[6]

'raju'

In [ ]:
lst[1:6] ##indexing using range : by default 0 to end [:]

['ram', 103, 203, 305, 204]

In [ ]:
lst[1:]

['ram', 103, 203, 305, 204, 'raju', ['shaam', 'babu bhaiya']]

In [ ]:
lst[:5] ## before last given index will be picked up

['sam', 'ram', 103, 203, 305]

### Insert

In [ ]:
## insert in a specific order

lst.insert(2,"shyaam") ##first is index, second is the value that needed to be added

In [ ]:
lst

['sam',
 'ram',
 'shyaam',
 'shyaam',
 103,
 203,
 305,
 204,
 'raju',
 ['shaam', 'babu bhaiya']]

In [ ]:
lst.append(["Hello","World"])

In [ ]:
lst

['sam',
 'ram',
 'shyaam',
 'shyaam',
 103,
 203,
 305,
 204,
 'raju',
 ['shaam', 'babu bhaiya'],
 ['Hello', 'World']]

In [ ]:
lst=[1,2,3]

In [ ]:
lst.append([4,5])

In [ ]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [ ]:
lst=[1,2,3,4,5,6]

In [ ]:
lst.extend([8,9]) ## not making nested list

In [ ]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [ ]:
lst=[1,2,3,4,5]

In [ ]:
sum(lst)

15

In [ ]:
lst*5 ## whole list will be appended 5 times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [ ]:
lst.pop() ## will remove the last element by default

5

In [ ]:
lst

[1, 2, 3, 4]

In [ ]:
lst.pop(0) ##index element will be removed

1

In [ ]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [ ]:
lst=[1,1,2,3,4,5]
lst.count(1) ##counts total occurance of an element

2

In [ ]:
#length:Calculates total length of List
len(lst)

6

In [ ]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [ ]:
##Min and Max
min(lst)

1

In [ ]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [ ]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [ ]:
set_var={1,2,3,4,3}

In [ ]:
set_var

{1, 2, 3, 4}

In [ ]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [ ]:
## indexing is not supported in sets
set_var

{'Avengers', 'Hitman', 'IronMan'}

In [ ]:
## Inbuilt function in sets

set_var.add("Hulk")

In [ ]:
set_var.union

In [ ]:
print(set_var)

{'IronMan', 'Avengers', 'Hitman', 'Hulk'}

In [ ]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [ ]:
##Difference
set2.difference(set1) ##will be removing set1 elements from set2

{'Hulk2'}

In [ ]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [ ]:
set2.intersection_update(set1)

In [ ]:
set2 ## only common elements will be displayed

{'Avengers', 'Hitman', 'IronMan'}

In [ ]:
## Difference update

set2.difference_update(set1)

In [ ]:
print(set2)

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
dic={}

In [ ]:
type(dic)

dict

In [ ]:
type(dict()) ##inbuilt function, creating empty dict

dict

In [ ]:
set_ex={1,2,3,4,5}  ##difference between set and dict

In [ ]:
type(set_ex)

set

In [ ]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"} ##indexing wont be index number but key names or key values

In [ ]:
type(my_dict)

dict

In [ ]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [ ]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [ ]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [ ]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [ ]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [ ]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [ ]:
my_dict['Car1']='MAruti'

In [ ]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [ ]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [ ]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [ ]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [ ]:
print(car_type['car1']['Mercedes'])  #getting specific value from nested dict

1960

## Tuples

In [ ]:
## create an empty Tuples

my_tuple=tuple() ## is not mutable

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple=()

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple=("hi","hello","hello")

In [ ]:
## my_tuple[0] ='nini'
## tuple doesnot support item assignemnt

In [ ]:
my_tuple=('Hello','World') ##whole tuple can be replaced but not the elements

Tuple will be used where the definition of an item is required just one time. you cannot perform any operation on it just replace the entire items

In [ ]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [ ]:
type(my_tuple)

tuple

In [ ]:
## Inbuilt function
my_tuple.count('hello') # can see how many times a value is present

2

In [ ]:
my_tuple.index('hi') ##can check the index of a value

0